#title {
    text-align: center;
}

#subTitle {
    text-align: center;
    color: darkgrey;
    background-color: blue;
}

.customeImage {
    width: auto;
    height: auto;
    margin: auto;
}

.custom-h2{
    color: rgb(0, 166, 255);
}

